<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
   <title>Document</title>
</head>
<body>
    <div class = "container mt-3">
        <h2>ToDo</h2>
        <a href="/new">
            <button class = "btn btn-primary mb-3">Добавить задачу</button>
        </a>
        <ol class="list-group list-group-numbered">
        <%
            data.forEach(item => {
        %>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                <div class="fw-bold"><%=item.title%></div>
                    <%=item.description%>
                </div>
                <div>
                    <a href="/edit/<%=item._id%>">
                        <button class = "btn btn-warning">Редактировать</button>
                    </a>
                    <button class = "btn btn-danger" onclick="deleteItem('<%=item._id%>')">Удалить</button>
                </div>
            </li>
        <%
            })
        %>
        </ol>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js" integrity="sha512-PJa3oQSLWRB7wHZ7GQ/g+qyv6r4mbuhmiDb8BjSFZ8NZ2a42oTtAq5n0ucWAwcQDlikAtkub+tPVCw4np27WCg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/delete.js"></script>
</body>
</html>